<!-- <div class="col-md-4 jumper-item">
  <a href="{{ include.link_path }}" class="jumper-img">
    <img src="/{{ include.img_path}}" >
  </a>

    <h3><a href="{{ include.link_path }}" class="jumper-link">{{ include.link_title}}<i class="icon-arrow icon-arrow-small icon-arrow-right"></i></a></h3>

</div> -->


<div class="col-md-6 col-lg-4">
  <a class="hover-item" href="{{ include.link_path }}">
    <div class="link-text editable">{{ include.link_title }}</div>
    <div class="hover"><img src=" {{ include.img_path}}" /></div>
  </a>
</div>