---
layout: first_stage
body_class: agentur
wortpaar: eindrucksvoll-punkt
title: Agentur
intro_text: >-
  <p>Werden doch auch Sie Lieblingskunde! Ob B2B oder B2C, Full Service oder
  einzelne Leistungsbausteine – unsere Leidenschaft gehört Ihnen. Bei uns im
  Kölner Süden sitzt die Kreation neben der Buchhaltung, der Filmemacher neben
  der PR-Tante und der Grafiker neben der Geschäftsführung. Eine bunte Mischung,
  die sich ergänzt und voneinander profitiert, um Ihnen die volle Bandbreite in
  Sachen Werbung zu bieten.</p> <p>Wie? Indem wir uns immer wieder neu erfinden,
  verbessern, weiterbilden. Indem wir mit fachlichem und strategischem Know-how
  sowie einer gehörigen Portion Leidenschaft Ihre Projekte angehen. Wir
  unterstützen und begleiten Sie bei all Ihren Maßnahmen – leistungsübergreifend
  und transparent. Von Marktforschung, Strategie über Print bis Social
  Media.</p> <p>Warum? Weil Ihr Anspruch unser Antrieb ist und weil wir es
  können. Ohne Wenn und Aber. Punkt. <em>#ihrewerbeagentur</em></p>
hero_image_path: hero-agentur.jpg
---

<section id="services" class="content-section white-bg">
  <div class="container">
    <div class="services-wrapper row">

      <div class="col-md-6">
        <a class="service-item" href="/agentur/team">
          <div class="link-text editable">Team</div>
          <div class="hover"><img src="/img/wortpaare/eingespielt-passioniert-neg.svg" /></div>
        </a>
      </div>

      <div class="col-md-6">
        <a class="service-item" href="/agentur/jobs">
          <div class="link-text editable">Jobs</div>
          <div class="hover"><img src="/img/wortpaare/extrem-plemplem-neg.svg" /></div>
        </a>
      </div>
    </div>
  </div>
</section>
  
<section id="references" class="content-section white-bg">
  <div class="container">
    <h2 class="section-header editable">Eine Auswahl unserer Kunden</h2>
  </div>
  <div class="container">
    <img src="/img/clients-selection.jpg" />
  </div>
</section>


<section id="jumper-section" class="content-section">
  <div class="container">
    <h2 class="section-header editable">Oder lernen Sie uns weiter kennen</h2>
    <div class="arrow-divider text-center"><img src="../img/icons/arrow-down-blue.svg" /></div>
    <div class="row">
      
      {% include jumper-item.html link_title="Leistungen" link_path="/leistungen" img_path="/img/wortpaare/effektiv-pulsierend-neg.svg" %}
      
      {% include jumper-item.html link_title="Projekte" link_path="/projekte" img_path="/img/wortpaare/enthusiastisch-produktiv-neg.svg" %}
      
      {% include jumper-item.html link_title="Kontakt" link_path="/kontakt" img_path="/img/wortpaare/einfach-persoenlich-neg.svg" %}
      
      
    </div>
  </div>
</section>


