---
layout: first_stage
body_class: services
wortpaar: effektiv-pulsierend
title: 'Leistungen: Full Service in allen Werbedisziplinen'
description: 'Unabhängig von Branche & Zielgruppe bieten wir einzelne Leistungsbausteine oder Rundum-Betreuung für alle Werbemaßnahmen - national & international'
intro_text: '<p>Gelungene Kommunikation stärkt wirtschaftlich und nachhaltig. Egal welche Branche, Sektor oder Zielgruppe. Strategisch, kreativ und effektiv begleiten wir Ihr Projekt und leben den Begriff Full Service selbst in Einzeldisziplinen. Die Betonung liegt auf Service – wir empfehlen, Sie entscheiden! Ob Sie einzelne Leistungen oder das Gesamtpaket in Anspruch nehmen wollen. Von der Geschäftsausstattung, Verkaufsförderung bis zur Kampagnenentwicklung: Jede unserer Leistungen zielt individuell und maßgeschneidert darauf ab, Sie im besten Licht darzustellen. </p>'
hero_image_path: hero-leistungen.jpg
---


<section id="services" class="content-section white-bg">
  <div class="container">
    <h2 class="section-header editable">Was können wir für Sie tun?</h2>
    
    <div class="services-wrapper row">
      
      <div class="col-md-6 col-lg-4">
        <a class="service-item" href="/leistungen/marktforschung">
          <div class="link-text editable">Marktforschung</div>
          <div class="hover"><img src="/img/wortpaare/echt-punktgenau-neg.svg" /></div>
        </a>
      </div>
      
      <div class="col-md-6 col-lg-4">
        <a class="service-item" href="/leistungen/kampagne-strategie">
          <div class="link-text editable">Kampagne & Strategie</div>
          <div class="hover"><img src="/img/wortpaare/extrem-pfiffig-neg.svg" /></div>
        </a>
      </div>
      
      <div class="col-md-6 col-lg-4">
        <a class="service-item" href="/leistungen/kreation-text">
          <div class="link-text editable">Kreation & Text</div>
          <div class="hover"><img src="/img/wortpaare/endlos-phantasievoll-neg.svg" /></div>
        </a>
      </div>
      
      <div class="col-md-6 col-lg-4">
        <a class="service-item" href="/leistungen/klassische-werbung">
          <div class="link-text editable">Klassische Werbung</div>
          <div class="hover"><img src="/img/wortpaare/explosiv-plakativ-neg.svg" /></div>
        </a>
      </div>
      
      <div class="col-md-6 col-lg-4">
        <a class="service-item" href="/leistungen/film-foto">
          <div class="link-text editable">Film & Foto</div>
          <div class="hover"><img src="/img/wortpaare/emotional-packend-neg.svg" /></div>
        </a>
      </div>
      
      <div class="col-md-6 col-lg-4">
        <a class="service-item" href="/leistungen/event">
          <div class="link-text editable">Event</div>
          <div class="hover"><img src="/img/wortpaare/einladend-phaenomenal-neg.svg" /></div>
        </a>
      </div>
      
      <div class="col-md-6 col-lg-4">
        <a class="service-item" href="/leistungen/public-relations">
          <div class="link-text editable">Public Relations</div>
          <div class="hover"><img src="/img/wortpaare/erstklassig-platziert-neg.svg" /></div>
        </a>
      </div>
      
      <div class="col-md-6 col-lg-4">
        <a class="service-item" href="/leistungen/messe">
          <div class="link-text editable">Messe</div>
          <div class="hover"><img src="/img/wortpaare/ereignisreich-populaer-neg.svg" /></div>
        </a>
      </div>
      
      <div class="col-md-6 col-lg-4">
        <a class="service-item" href="/leistungen/digital">
          <div class="link-text editable">Digital</div>
          <div class="hover"><img src="/img/wortpaare/endlich-papierlos-neg.svg" /></div>
        </a>
      </div>
      
      <div class="col-md-6 col-lg-4">
        <a class="service-item" href="/leistungen/iran-reisen">
          <div class="link-text editable">Iran Reisen</div>
          <div class="hover"><img src="/img/wortpaare/einmalig-paradiesisch-neg.svg" /></div>
        </a>
      </div>
      
      <div class="col-md-6 col-lg-4">
        <a class="service-item" href="/leistungen/ep-startup">
          <div class="link-text editable">EP Startup</div>
          <div class="hover"><img src="/img/wortpaare/einschlaegig-pfiffig-neg.svg" /></div>
        </a>
      </div>
      
      <div class="col-md-6 col-lg-4">
        <a class="service-item" href="/leistungen/public-affairs">
          <div class="link-text editable">Public Affairs</div>
          <div class="hover"><img src="/img/wortpaare/eigenartig-publizistisch-neg.svg" /></div>
        </a>
      </div>

    </div>
  </div>
</section>


<section id="jumper-section" class="content-section">
  <div class="container">
    <h2 class="section-header editable">Oder lernen Sie uns weiter kennen</h2>
    <div class="arrow-divider text-center"><img src="../img/icons/arrow-down-blue.svg" /></div>
    <div class="row">
      
      {% include jumper-item.html link_title="Die Agentur" link_path="/agentur" img_path="/img/wortpaare/eindrucksvoll-punkt-neg.svg" %}
      
      {% include jumper-item.html link_title="Projekte" link_path="/projekte" img_path="/img/wortpaare/enthusiastisch-produktiv-neg.svg" %}
      
      {% include jumper-item.html link_title="Kontakt" link_path="/kontakt" img_path="/img/wortpaare/einfach-persoenlich-neg.svg" %}
      
      
    </div>
  </div>
</section>
