---
layout: default
---
<div class="section-hero" style="background-image: url(/img/{{ page.hero_image_path }})">
  <div class="container">
    <a href="/leistungen#services" class="back-link"><i class="icon-arrow icon-arrow-small icon-arrow-left"></i>Zurück zu Leistungen</a>
    <div class="wortpaar">
      <img src="/img/wortpaare/{{page.wortpaar}}-pos.svg" height="170" />
    </div>
    <h2>{{ page.title}}</h2>
    <div class="divider"></div>
    <div class="intro-txt">
      {{ page.intro_text }}      
    </div>
  </div>
</div>

<section class="content-section">
  <div class="container">
    <div class="features row">
      {% for tag in page.tags %}
        <div class="col-md-6 feature-item">{{ tag }}</div>
      {%endfor%}
    </div>
  </div>
</section>

{{ content }}


<section id="jumper-section" class="content-section">
  <div class="container">
    <h2 class="section-header editable">Oder lernen Sie uns weiter kennen</h2>
    <div class="arrow-divider text-center"><img src="../img/icons/arrow-down-blue.svg"></div>
    <div class="row">
      
      {% include jumper-item.html link_title="Die Agentur" link_path="/agentur" img_path="/img/wortpaare/eindrucksvoll-punkt-neg.svg" %}
      
      {% include jumper-item.html link_title="Projekte" link_path="/projekte" img_path="/img/wortpaare/enthusiastisch-produktiv-neg.svg" %}
      
      {% include jumper-item.html link_title="Kontakt" link_path="/kontakt" img_path="/img/wortpaare/einfach-persoenlich-neg.svg" %}
      
      
    </div>
  </div>
</section>